name: Test

on:
  push:
  pull_request:

jobs:
  pytest:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: |
          pip install pytest pytest-aiohttp pytest-asyncio aiohttp
      - name: Run pytest
        run: pytest tests/ -v
